/*Ceci est pour mettre des bordures bleues autour de tous mes
elements, histoire de me retrouver quand je fais des erreurs.*/
* {
	border: 1px solid blue;
}
/***************************************************************/



/*Design du header Logo + Menu*/
.logo-image{
	max-width: 7%;
	max-height: 7%;
	float: left;
}

.conteneur-menu li{
	padding-left: 100px;
	display: inline-block;
}

.conteneur-menu{
	text-align: right;
}

/******************************/



/* Design corps du bas */
.corps-du-bas li{
	display: inline-block;
	width: 31%;

}

.panel{
	margin: auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
/***********************/



/* Design corps du haut */
.titre-bienvenue{
	text-align: center;
}

.corps-du-haut{
	background: url('./images/body_image.jpg') no-repeat;
	opacity: 0.7;
	background-size: 100%;	
	width: 100%;
	height: 500px;
}
/***********************/





